{% extends 'base.html.twig' %}

{% block title %}Symfony & table de pythagore{% endblock %}

{% block body %}
    <h1>{{ name }}</h1>
    <h2>Table de Pythagore</h2>
    <div>
        {{ tableHtml|raw }}
    </div>
{% endblock %}